body {
	font-size: 18px;
	color: black;
	font-family: "Times New Roman";
	background-color: white;
	text-align: center;
    position: relative;
}

p {
	padding: 12px;
}

#menu {
	width: 200px;
	height: 1650px;
	padding: 10px;
	position: relative;
	background-image: url(flower.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size:230px 2150px;
	border: 1px solid CornflowerBlue;
}

.content {
	left: 220px;
	top:-1673px; 
	width: 580px;
	height:1650px;
	padding: 10px;
	position: relative;
	font-weight: bold; 
	background-image: url(flower.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size:1800px 2150px;
	border: 1px solid CornflowerBlue;
}

#header {
	width: 800px;
    height: 150px;
    color: black;
    font-size: 20px;
    padding: 10px;
    background-image: url(itachi.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size:820px;
    border: 1px solid CornflowerBlue;
}

#footer {
	top: -1673px;
	width: 820px;
    height: 150px;
    position: relative;  
    border: 1px solid CornflowerBlue;
}